@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:   url('../fonts/FuturaLT-Light.woff') format('woff'),
  url('../fonts/FuturaLT-Light.ttf') format('truetype'),
 }


@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:   url('../fonts/FuturaLT.woff') format('woff'),
  url('../fonts/FuturaLT.ttf') format('truetype'),
 }


@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:   url('../fonts/FuturaLT-Bold.woff') format('woff'),
  url('../fonts/FuturaLT-Bold.ttf') format('truetype'),
 }

 @font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:   url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.ttf') format('truetype'),
 }

  @font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:   url('../fonts/Arial-BoldMT.woff') format('woff'),
  url('../fonts/Arial-BoldMT.ttf') format('truetype'),
 }

