
 @font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:   url('../fonts/FuturaPT-Light.woff') format('woff'),
  url('../fonts/FuturaPT-Light.ttf') format('truetype'),
 }

 @font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:   url('../fonts/FuturaPT-Book.woff') format('woff'),
  url('../fonts/FuturaPT-Book.ttf') format('truetype'),
 }

 @font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:   url('../fonts/FuturaPT-Demi.woff') format('woff'),
  url('../fonts/FuturaPT-Demi.ttf') format('truetype'),
 }

 @font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:   url('../fonts/FuturaPT-Bold.woff') format('woff'),
  url('../fonts/FuturaPT-Bold.ttf') format('truetype'),
 }

 @font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:   url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.ttf') format('truetype'),
 }

  @font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:   url('../fonts/Arial-BoldMT.woff') format('woff'),
  url('../fonts/Arial-BoldMT.ttf') format('truetype'),
 }

 @font-face {
  font-family: 'OrchideaPro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:   url('../fonts/OrchideaPro-SemiBold.woff') format('woff'),
  url('../fonts/OrchideaPro-SemiBold.ttf') format('truetype'),
 }