.intro, .fact-block {
	padding-top: 80px;
}

/*============Patent-block============*/
.patent-block {
	display: flex;
	margin-left: -20px;
	>* {
		width: calc(33.33333% - 20px);
		margin-left: 20px;
	}
	&__item {
		img {
			max-width: 100%;
			height: 100%;
		}
		position: relative;
		cursor: pointer;
		&:before {
			content: "+";
    		width: 40px;
    		height: 40px;
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate3d(-50%,-50%, 0);
    		font-size: 35px;
    		font-weight: 300;
    		line-height: 35px;
    		text-align: center;
    		color: $wh;
    		border-radius: 50%;
    		border: 1px solid $wh;
    		z-index: 2;
    		opacity: 0;
    		transition: all .4s linear;
    		pointer-events: none;
		}
		&:after {
			content: "";
			position: absolute;
    		top: 0;
    		right: 0;
    		width: 100%;
    		height: 100%;
    		background: rgba(0,48,255,0.33);
    		opacity: 0;
    		transition: all .4s linear;
    		pointer-events: none;
    		z-index: 1;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
			&:before {
				opacity: 1;
			}
		}
	}
}
/*============/patent-block============*/

/*============FAQ-block============*/
.faq-block {
	padding: 50px 0 40px;
	background-color: #F2F8FD;
	&__box {
		max-width: 760px;
		margin: 0 auto;
	}
	&__item {
		padding: 25px 30px;
		background-color: $wh;
		border-bottom: 1px solid #F2F8FD;
	}
	&__icon {
		width: 40px;
		height: 40px;
		flex:  0 0 40px;
		border-radius: 50%;
		transition: all .3s linear;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: -10px;
		svg {
			width: 24px;
			height: 24px;
			stroke: #222222;
			transition: all .3s linear;

		}
		&.active {
			svg {
				transform: rotate(45deg);
			}
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		&:hover {
			.faq-block__icon {
				background-color: #041a3b;
				svg {
					stroke: $wh;
				}
			}
		}
	}
	&__question {
		font-family: $fffpt;
		font-size: 24px;
		font-weight: 600;
		color: $bl;
		line-height: 1.35;
		padding-right: 15px;
	}
	&__answer {
		font-family: $fffpt;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.55;
		color: $bl;
		display: none;
		padding-top: 15px;
		.menu-dots li {
			font-family: $fffpt;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.55;
			color: $bl;
		}
	}
	&__contact {
		font-family: $fffpt;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.55;
		color: $bl;
		text-align: center;
		max-width: 760px;
		margin: 90px auto 0;
		padding: 0 25px;
		a {
			color: $blue;
			transition: all .2s linear;
			&:hover {
				color: $orange;
			}
		}
	}
}
/*============/FAQ-block============*/
@media(max-width: 1360px) {
	.page {
		.header {
			position: absolute;
		}
	}
	.fact-block {
		padding-top: 0;
	}
}
@media(max-width: 992px) {
	.faq-block {
		&__question {
			font-size: 22px;
		}
	}
}

@media(max-width: 768px) {
	.patent-block__item {
		img {
			height: auto;
		}
	}
}

@media(max-width: 765px) {
	.faq-block {
		&__question {
			font-size: 20px;
		}
		&__answer {
			font-size: 16px;
		}
		&__contact {
			margin-top: 30px;
			font-size: 16px;
		}
	}
	.patent-block {
		flex-wrap: wrap;
		>* {
			width: 100%;
			margin-bottom: 20px;
		}
		&__item {
			img {
				height: auto;
			}
		}
	}
}



