$ff: 'Arial', sans-serif;
$fff: 'Futura', sans-serif;
$fffpt: 'FuturaPT', sans-serif;
$fforc: 'OrchideaPro', sans-serif;
$bl:  #000000;
$wh: #fff;
$blue: #1e5cd1;
$lblue: #0073d0;
$dblue: #0C4C8B;
$dgray: #7c7c7c;
$lgray: #f5f5f5;
$gray: #efefef;
$orange: #ff8562;